/* ---------- Assignment3 CSS ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------- Layout ---------- */
#wrap {
  background-color: lightgrey;
}
#header {
  height: 150px;
  background-color: #1f3933;
}
#content {
  background-color: lightgrey;
}
#footer {
  height: 150px;
  background-color: #1f3933;
}

/* ---------- container ---------- */
.container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
#content .container {
  background-color: whitesmoke;
  padding: 1%;
}


/* ---------- header --------- */
#header h1 {
  color: white;
  line-height: 150px;
  font-size: 75px;
}

/* nav bar */
#horizontal-nav {
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: repeat(4, 25%);
  background-color: #1f3933;
}
#horizontal-nav .box {
  line-height: 50px;
  text-align: center;
  color: white;
}
#horizontal-nav a :hover {
  background-color: whitesmoke;
  color: #1f3933;
}
#horizontal-nav a {
  text-decoration: none;
}

/* ---------- sidebar ---------- */
#sidebar {
  width: 10%;
  height: 325px;
  float: right;
  position: sticky;
  top: 25%;
  background-color: whitesmoke;
  border: #1f3933 1px solid;
  margin-right: 1%;
}
#nav {
  text-align: center;
  line-height: 80px;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(4, 25%);
  font-size: 1.5vw;
}
#nav a[href] {
  text-decoration: none;
  width: 100%;
}
#nav .box {
  color: #1f3933;
  border-bottom: 1px solid #1f3933;
}
#nav .box:hover {
  background-color: #1f3933;
  color: white;
}

/* ---------- content ---------- */
/* welcome */
#welcome {
  text-align: center;
  width: 100%;
}
#welcome h2 {
  font-size: 30px;
}
#welcome p {
  font-size: 20px;
}
#welcome #wrapper1 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#welcome #wrapper1 .circle-item {
  background-color: #1f3933;
  color: white;
  font-size: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 150px;
  margin: 5% auto;
}

/* menu */
#menu {
  width: 100%;
}
#menu h2 {
  text-align: center;
  font-size: 30px;
}
#menu #wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
}
#menu #wrapper2 .box {
  padding: 1%;
  background-color: #1f3933;
  color: white;
  font-size: 15px;
  border-bottom: white 1px solid;
  border-right: white 1px solid;
}
#menu #wrapper2 .box h3 {
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
}
#menu #wrapper2 .box figure {
  padding: 1%;
  text-align: center;
}
#menu #wrapper2 .box figure img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* hours */
#hours {
  width: 100%;
}
#hours h2 {
  text-align: center;
  font-size: 30px;
}
#hours #wrapper3 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
}
#hours #wrapper3 .box {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-collapse: collapse;
  background-color: #1f3933;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 1%;
}
#hours #wrapper3 .box6 {
  background-color: whitesmoke;
  color: #1f3933;
  border-bottom: 1px solid #1f3933;
  border-right: 1px solid #1f3933;
}
#hours #wrapper3 .box7 {
  background-color: whitesmoke;
  color: #1f3933;
  border-bottom: 1px solid #1f3933;
  border-right: 1px solid #1f3933;
}
#hours #wrapper3 .box8 {
  background-color: whitesmoke;
  color: #1f3933;
  border-bottom: 1px solid #1f3933;
  border-right: 1px solid #1f3933;
}
#hours #wrapper3 .box10 {
  grid-column: 2/5;
  background-color: whitesmoke;
  color: #1f3933;
  border-bottom: 1px solid #1f3933;
  border-right: 1px solid #1f3933;
}

/* ---------- footer ---------- */
#footer p {
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: white;
}
@media screen and (min-width: 1400px) {
  #horizontal-nav {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1399px) {
  #horizontal-nav {
    display: none;
  }
  #welcome #wrapper1 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  #menu #wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  #hours #wrapper3 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
  }
}
@media screen and (min-width: 700px) and (max-width: 1279px) {
  #horizontal-nav {
    display: none;
  }
  #welcome #wrapper1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  #menu #wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }
  #header h1 {
    text-align: center;
  }
}
@media screen and (max-width: 699px) {
  #welcome #wrapper1 {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  #menu #wrapper2 {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
  }
  #sidebar {
    display: none;
  }
  #header h1 {
    line-height: 100px;
    font-size: 50px;
    text-align: center;
  }
  #hours #wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 0 auto;
  }
  #hours .box1, #hours .box5, #hours .box9, #hours .box10 {
    display: none;
  }
  #hours .box6 {
    border-left: 1px solid #1f3933;
  }
}